<html>
<body>
   Welcome, <%= username %>&nbsp;&nbsp;&nbsp;<a href="/logout">Logout</a>
   <form method="post" action="admininsertseasons">

   season : <input type="text" name="seasons" placeholder="season"><br>
   <input type="Submit" value="Submit">
   </form>
</body>
</html>