<html>
<head>
</head>
<body>
            <% include navbaradmin.ejs %>
   <form method="post" action="/nambahcategory">

   Category : <input type="text" name="category" placeholder="category"><br>
   <input type="Submit" value="Submit">
   </form>
</body>
</html>