<html>
    <head>

    </head>
    <body>
            <% include navbaradmin.ejs %>
        <form method="post" action="/updateproduct/<%= id %>">
            Product : <input type="text" name="productname" placeholder="product"><br>
            Product Detail : <input type="text" name="productdetail" placeholder="product detail"><br>
            Price : <input type="text" name="price" placeholder="price"><br>            
            <input type="Submit" value="Submit">
        </form>
    </body>
</html>