<html>
<body>
            <% include navbaradmin.ejs %>
   <form method="post" action="/nambahwarna">
    
     Colour : <input type="text" name="warna" placeholder="color"><br>
   <input type="Submit" value="Submit">
   </form>
</body>
</html>