<html>
    <head>
    </head>
    <body>
            <% include navbaradmin.ejs %>
        <form method="post" action="/updatewarna/<%= id %>">
   
            Colour : <input type="text" name="color" placeholder="color"><br>
            <input type="Submit" value="Submit">
        </form>
    </body>
</html>