<html>
    <head>

    </head>
    <body>
            <% include navbaradmin.ejs %>
        <form method="post" action="/updateseason/<%= id %>">
            seasons : <input type="text" name="seasons" placeholder="seasons"><br>
            <input type="Submit" value="Submit">
        </form>
    </body>
</html>