<html>
<body>
            <% include navbaradmin.ejs %>
   <form method="post" action="/nambahproduct">

   Product : <input type="text" name="product" placeholder="product"><br>
   Detail : <input type="text" name="detail" placeholder="detail"><br>
   Price : <input type="text" name="price" placeholder="price"><br>
      
   <input type="Submit" value="Submit">
   </form>
</body>
</html>