<html>
<body>
            <% include navbaradmin.ejs %>
   <form method="post" action="/nambahsize">

     Size : <input type="text" name="ukuran" placeholder="size"><br>
     Stock : <input type="text" name="stok" placeholder="stock"><br>
     
   <input type="Submit" value="Submit">
      
   </form>
</body>
</html>